@import "normalizer";
@import "fonts";
@import "material-icons";
@import "icons";
@import "variables";
@import "./../../components/main";

body{
  font-size: 16px;
  font-family: sans-serif;
}

.layout-padding{
  padding: 10px 0;
}