<template>
    <v-flex md4>
        <v-dialog
                ref="dialog"
                persistent
                v-model="modal"
                lazy
                full-width
                width="290px"
                :return-value.sync="date"
        >
            <v-text-field
                    v-bind:name="name"
                    slot="activator"
                    v-bind:label="label"
                    v-model="dateString"
                    prepend-icon="event"
                    :rules="rules"
                    solo
                    required
                    readonly
            ></v-text-field>
            <v-date-picker v-model="date" scrollable>
                <v-btn flat color="primary" @click="modal = false">Cancel</v-btn>
                <v-btn flat color="primary" @click="$refs.dialog.save(date)">OK</v-btn>
            </v-date-picker>
        </v-dialog>
    </v-flex>
</template>

<script>
export default {
  name: 'DateTime',
  props: ['label', 'name', 'rules'],
  data: () => ({
    date: null,
    menu: false,
    modal: false,
    dateString: '',
  }),
  methods: {
    setDate(str) {
      if (str != null) {
        return `${str.substring(8, 10)}.${str.substring(5, 7)}.${str.substring(0, 4)}`;
      }
      return '';
    }
  },
  watch: {
    date(val) {
      this.dateString = this.setDate(val);
    }
  }
};
</script>
