<template>
    <!--Form start-->
    <v-form ref="employeeForm" v-on:submit.prevent="sendForm"  v-model="valid" lazy-validation>
        <!--Alert start-->
        <v-alert v-if="alert"
                :value="true"
                type="warning"
        >
            Форма отправлена.
        </v-alert>
        <!--Alert end-->
      <v-layout class="layout-padding" row wrap>
       <v-flex md4>
        <v-text-field
                name="secondName"
                v-model="secondName"
                :rules="secondNameRules"
                :counter="20"
                label="Фамилия"
                required
                solo
        ></v-text-field>
       </v-flex>
       <v-flex md4>
           <v-text-field
                name="firstName"
                v-model="name"
                :rules="nameRules"
                label="Имя"
                :counter="20"
                required
                solo
        ></v-text-field>
       </v-flex>
       <v-flex md4>
           <v-text-field
                name="thirdName"
                v-model="thirdName"
                :rules="thirdNameRules"
                label="Отчество"
                :counter="20"
                required
                solo
        ></v-text-field>
       </v-flex>
      </v-layout>
      <!--Passport row start-->
      <v-layout class="layout-paddings" row wrap>
      <v-flex md4>
          <v-select
                  name="passport"
                  :items="passportKinds"
                  label="Паспорт гражданина"
                  solo
                  ref="passport"
                  @change="passportOnChange"
          ></v-select>
        </v-flex>
        <v-flex md4 v-if="passportField">
            <v-text-field
                    name="passportSeries"
                    v-model="passportSeries"
                    :rules="passportSeriesRules"
                    label="Серия паспорта"
                    mask="####"
                    :counter="4"
                    required
                    solo
            ></v-text-field>
        </v-flex>
        <v-flex md4 v-if="passportField">
            <v-text-field
                    name="passportNumber"
                    v-model="passportNumber"
                    :rules="passportNumberRules"
                    label="Номер паспорта"
                    mask="######"
                    :counter="6"
                    required
                    solo
            ></v-text-field>
        </v-flex>
      </v-layout>
      <!--Passport row end-->
      <v-layout class="layout-paddings" row wrap>
            <v-flex md4>
                <v-text-field
                        name="email"
                        v-model="email"
                        :rules="emailRules"
                        label="E-mail"
                        solo
                ></v-text-field>
            </v-flex>
            <v-flex md4>
                <v-text-field
                        name="phone"
                        v-model="phone"
                        :rules="phoneRules"
                        label="Телефон"
                        mask="+7(###) ###-##-##"
                        required
                        solo
                ></v-text-field>
            </v-flex>
            <date-time name="birthDate" v-bind:rules="birthDate" label="Дата рождения"/>
        </v-layout>
        <v-layout class="layout-padding" row wrap>
            <v-flex md4>
                <v-select
                        name="group"
                        :items="groups"
                        label="Группа пользователя"
                        solo
                        required
                ></v-select>
            </v-flex>
            <date-time name="findJobDate" v-bind:rules="foundJobDate" label="Дата трудоустройства"/>
            <v-flex md4>
                <v-select
                        name="status"
                        :items="status"
                        :rules="statusRules"
                        label="Статус"
                        solo
                        required
                ></v-select>
            </v-flex>
      </v-layout>
        <!--Form buttons-->
      <v-btn type="button" color="info" @click="resetForm">Очистить</v-btn>
      <v-btn type="submit" :disabled="!valid" color="success">
          Сохранить и продолжить редактирование
      </v-btn>
    </v-form>
    <!--Form end-->
</template>

<script>
import DateTime from '../elements/DateTime';

export default {
  name: 'Main',
  components: { DateTime },
  data: () => ({
    alert: false,
    valid: true,
    passportField: undefined,
    name: '',
    nameRules: [
      nameValue => !!nameValue || 'Имя обязательно',
      nameValue => (nameValue && nameValue.length <= 20) || 'Значение не должно превышать 20ти символов'
    ],
    secondName: '',
    secondNameRules: [
      secondNameValue => !!secondNameValue || 'Фамилия обязательна',
      secondNameValue => (secondNameValue && secondNameValue.length <= 20) || 'Значение не должно превышать 20ти символов'
    ],
    thirdName: '',
    thirdNameRules: [
      thirdNameValue => !!thirdNameValue || 'Отчество обязательно',
      thirdNameValue => (thirdNameValue && thirdNameValue.length <= 20) || 'Значение не должно превышать 20ти символов'
    ],
    email: '',
    emailRules: [
      email => /.+@.+/.test(email) || 'E-mail должен быть правильным'
    ],
    phone: '',
    phoneRules: [
      phone => !!phone || 'Телефон обязателен',
    ],
    passportSeries: '',
    passportSeriesRules: [
      passportSeries => !!passportSeries || 'Серия паспорта обязателена',
    ],
    passportNumber: '',
    passportNumberRules: [
      passportNumber => !!passportNumber || 'Номер паспорта обязателен',
    ],
    passportKinds: ['Паспорт РФ', 'Паспорт иностранного гражданина', 'Не выбрано'],
    groups: ['Суперпользователь', 'Модератор', 'Менеджер', 'РМ', 'ВРМ'],
    status: ['Активен', 'Собеседование', 'Отпуск', 'Отгул', 'Командировка'],
    foundJobDate: [
      foundJobDate => !!foundJobDate || 'Дата устройсва - обязательное поле '
    ],
    birthDate: [
      birthDate => !!birthDate || 'Дата рождения - обязательное поле '
    ],
    statusRules: [
      status => !!status || 'Статус - обязательное поле '
    ]
  }),
  methods: {
    sendForm() {
      if (this.$refs.employeeForm.validate()) {
        this.alert = true;
      } else {
        this.alert = false;
      }
    },
    resetForm() {
      this.$refs.employeeForm.reset();
    },
    passportOnChange(passport) {
      if (passport === 'Паспорт иностранного гражданина' ||
          passport === 'Паспорт РФ') {
        this.passportField = true;
      } else {
        this.passportField = false;
      }
    }
  }
};
</script>
