<template>
    <main>
        <router-link class="link" to="/">назад</router-link>
        <label class="hello" for="numbers">Введите число</label>
        <input
                placeholder="Введите число..."
                type="text"
                name="numbers"
                id="numbers"
                class="numbers-field"
                v-on:input="setNumberAction">
        <p class="numbers-result">{{number}}</p>
    </main>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  name: 'Numbers',
  computed: {
    ...mapState({ number: state => state.appStore.numbers }),
  },
  methods: {
    ...mapActions({ setNumbers: 'setNumbers' }),
    setNumberAction(event) {
      const num = event.target.value;
      this.setNumbers(num);
    },
  },
};
</script>
