<template>
  <div id="app">
      <v-app>
          <v-alert
                  :value="true"
                  type="success"
          >
              Тестовое задание.
          </v-alert>
          <v-container grid-list-md>
            <router-view/>
          </v-container>
      </v-app>
  </div>
</template>

<script>
import 'vuetify/dist/vuetify.min.css';

export default {
  name: 'App',
};
</script>


<style lang="scss">
  @import "./assets/scss/styles";
</style>
